BOT_TOKEN='7537604550:AAE3rWkY-0FlmzIEqCkkPyGYnpxUR6IL2YA'
# Not used in opensource version
BOT_IP=127.0.0.1
SERVER_URL=''
DOMAIN='localhost'
USE_WEBHOOK=False
ADMIN=2633617618
# Not used without domain
MARZ_HAS_CERTIFICATE=True
CERT_FULLCHAIN_PATH='/mnt/c/Users/inosk/telegram-vpn-bot/fullchain.pem'
CERT_KEY_PATH='/mnt/c/Users/inosk/telegram-vpn-bot/privkey.pem'