<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title>{{ user.username }} - Sub Info</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <pre>{{ user | tojson(indent=2) }}</pre>
  <!-- Заголовок с именем пользователя -->
  <h1>{{ user.username }} - Sub Info</h1>

  <!-- Трафик -->
  <p>
    {{ user.used_traffic | bytesformat }}
    /
    {% if not user.data_limit %}
      ∞
    {% else %}
      {{ user.data_limit | bytesformat }}
    {% endif %}
  </p>

  <!-- Остаток дней -->
  <p>
    {% if not user.expire %}
      ∞
    {% else %}
      {% set remaining_days = ((user.expire - now().timestamp()) // (24 * 3600)) %}
      {{ remaining_days | int if (remaining_days | int) > -1 else 0 }} дн.
    {% endif %}
  </p>

  <!-- Кнопка импорта в клиент -->
  <a
    href="v2raytun://import/{{ link }}"
    class="import-btn"
  >
    Импорт подписки в V2rayTun
  </a>
</body>
</html>
